.invite-member-page {
  .ant-form-horizontal .ant-form-item-control {
    max-width: 530px;
    min-width: 300px;
  }

  .label {
    min-width: 180px;
  }

  .invite-member-form {
    padding: 40px;
    border: 1px solid #ccc;
    width: 65%;
  }

  .ant-btn-lg {
    height: 38px;
  }

  .ant-form-item-label>label {
    font-size: 14px;
    margin-right: 2rem;
  }

  .ant-space {
    display: flex;
  }

  p {
    margin-bottom: 0px;
  }

  #errorEmail {
    color: #ff4d4f;
  }
}