.comment {
  html {
    height: 100%;
  }
  .ant-tag {
    margin: 2px 0px;
    padding: 6px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__author {
    font-weight: bold;
  }
  &__content {
    line-height: 1.5rem;
    &.collapse {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &.expanded {
      height: max-content;
      width: 95%;
    }
  }
  &__overflow.collapse {
    max-width: 75%;
  }
  &__edited {
    cursor: default;
  }
  .see-more:visited &__edited {
    color: red;
    font-size: 50px;
  }
  .ant-avatar.ant-avatar-circle {
    margin-right: 1rem;
  }
}
.editor {
  .block-todo {
    position: relative;
    border: 1px solid #f7f7f7;
    /*box-shadow: inset 0px 0px 10px 2px #f7f7f7;*/
    border-radius: 4px;
  }

  .block-todo input[type='checkbox'] {
    position: absolute;
    cursor: pointer;
  }
  .DraftEditor-root {
    position: relative;
    overflow: hidden;
    word-break: break-all;
    height: 100%;
    min-height: 170px;
    padding: 0 1px;
  }
  .public-DraftStyleDefault-ltr {
    width: fit-content !important;
  }
  .rdw-suggestion-dropdown {
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 30%);
    position: relative !important;
  }
  .rdw-suggestion-option {
    cursor: pointer;
    min-width: 100px;
  }
  .rdw-suggestion-option:hover {
    background: powderblue;
  }
  .rdw-embedded-wrapper {
    display: none;
  }
  .rdw-editor-main {
    a {
      color: rgb(0, 157, 255);
      text-decoration: underline;
    }
  }
  .rdw-link-modal-buttonsection {
    position: relative;
    top: -10px;
  }
  .editor__textarean {
    min-height: 170px;
  }
  #linkTarget,
  #linkTitle {
    min-height: 30px;
  }
  .rdw-link-modal-target-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .rdw-link-modal {
    height: fit-content;
  }
  .disable-checkbox {
    .ant-checkbox-inner {
      background-color: #f5f5f5;
      border-color: #d9d9d9 !important;
    }
  }
  .disable-checkbox:hover {
  }
}
.DraftEditor-root {
  cursor: text;
}
.memberStatus {
  margin-bottom: 0px !important;
}
.button__hover--yellow:hover {
  border-color: #ffd803 !important;
}
