.edit-template-task {
  .submit-btn {
    max-width: 50%;
    margin-top: 1rem;
    transform: translateX(95%);
    left: 100px;
  }

  .ant-form-item-label {
    text-align: right;
    font-weight: 700;
  }
  .ant-tag,
  .ant-tag a,
  .ant-tag a {
    color: black;
  }

  .anticon,
  .layout-task .anticon-home,
  .layout-task .ant-menu-item-icon {
    font-size: 10px;
  }

  .ant-col-18 {
    max-width: 100% !important;
  }

  .ant-tag,
  .ant-tag a,
  .ant-tag a {
    color: black;
    display: flex;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .ant-form-item-label>label::after {
    content: '';
  }

  // .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  //   font-size: 20px;
  //   font-family: inherit;
  //   font-weight: 700;
  // }
  .ant-form-item-label {
    margin-right: 1rem;
    min-width: 155px;
  }
  
  .w-md-editor-toolbar li > button {
    height: 40px !important;
    width: 40px !important;
  }
  .w-md-editor-toolbar {
    height: 40px !important;
  }
  
  .ant-form-item-label>label::after {
    margin: 0px;
  }
  .preview_btn {
    background-color: aqua !important;
  }
  .des {
    padding: 10px;
    border: 1px solid #b5b5b8;
    border-radius: 6px;
    height: 300px;
    overflow: auto;
  }
  .list__task {
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    // border: 1px solid #d9d9d9;
    box-shadow: 2px #b5b5b8;
    margin: 0 5px;
    border-radius: 5px;
    flex-wrap: wrap;
    li {
      white-space: nowrap;
      padding: 2px;
    }
    .ant-tag,
    .ant-tag a,
    .ant-tag a {
      color: black;
    }
  }

}