.gantt-chart-page {
    padding: 3%;
    .radio-button:hover {
      opacity: 0.8;
    }
    .radio-button:nth-child(1) {
      background-color: yellow;
      border-right-color: yellow !important;
    }
    .radio-button:nth-child(2) {
      background-color: #5eb5a6;
    }
    .radio-button:nth-child(3) {
      background-color: #a1af2f;
    }
    .radio-button:nth-child(4) {
      background-color: #4488c5;
    }
    .radio-button:nth-child(5) {
      background-color: rgb(185, 86, 86);
    }
    .radio-button:nth-child(6) {
      span {
        border-radius: 5px;
  
        color: white;
      }
      background-color: rgb(121, 86, 23);
    }
    .ant-radio-group {
      display: flex !important;
    }
    // .ant-radio-button-wrapper:not(:last-child) {
    //   margin-right: 10px !important;
    // }
    .ant-radio-button-wrapper:last-child {
      border: none;
    }
    .ant-radio-button-wrapper:first-child {
      border: none;
    }
  
    .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: white;
      color: #272343;
      border: 1px solid yellow;
      span {
        color: #272343;
      }
    }
    .list_filter .radio-button{
      border-radius: 5px;
      width: 4.7rem;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      display: none;
    }
    .ant-radio-button-wrapper {
      border-radius: 5px;
      height: 40px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px !important;
    }
    .ant-radio {
      height: 40px !important;
    }
    .ant-radio-button {
      border-radius: 5px;
      border-color: yellow;
    }
  
    .gantt-chart {
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
  
      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
  
      .gantt_tree_content {
        cursor: pointer;
      }
      .ant-spin-spinning {
        position: absolute;
      }
  
      .radio-button {
        border-radius: 5px;
        height: 38px;
        line-height: 38px;
        margin: 0 0.5rem;
      }
      .ant-btn {
        height: 38px !important;
      }
      ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
      /* Track */
      ::-webkit-scrollbar-track {
        border-radius: 0;
        background: #edf2f7;
        width: 100%;
      }
      .gantt_grid_data {
        overflow: auto;
  
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  