.list-toppage{
    margin: 30px 0;
    img:hover{
        filter: invert(83%) sepia(27%) saturate(2852%) hue-rotate(353deg) brightness(108%) contrast(106%);
        cursor: pointer;
    }
    .hv-icon:hover{
        color: #ffd803 !important;
    }
    .ant-card-body{
        padding: 0 !important;
      }
}