body {
  font-size: 14px;
  margin: 0 auto;

  p,
  span,
  ul,
  li,
  a {
    font-size: 14px;
    color: #272343;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: #ffd803;
  }

  ul,
  li {
    list-style: none;
  }

  h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #272343;
    flex-wrap: nowrap;
  }

  //button
  .ant-btn-primary {
    border-color: #ffd803;
    background-color: #ffd803;
    color: rgba(0, 0, 0, 0.85);

    &:hover {
      color: rgba(0, 0, 0, 0.85);
    }
  }

  .ant-btn:hover,
  .ant-btn:focus {
    color: #ffd803;
    border-color: #ffd803;
  }

  // disabled
  .ant-btn-primary[disabled],
  .ant-btn-primary[disabled]:hover,
  .ant-btn-primary[disabled]:focus,
  .ant-btn-primary[disabled]:active {
    color: rgba(0, 0, 0, 0.25);
    background: #f5f5f5;
    border-color: #d9d9d9;
    text-shadow: none;
    box-shadow: none;
  }

  //input
  .ant-input,
  .ant-input-affix-wrapper {
    color: #272343;
    padding: 9px 10px;
    border-radius: 6px;
    font-size: 14px;
  }

  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    color: #ffd803;
    border-color: #ffd803;
  }

  .ant-input-affix-wrapper {
    height: 40px;
  }

  .ant-input-affix-wrapper .ant-input {
    padding: 9px 10px;
  }

  .ant-input-prefix {
    margin-left: 7px;
  }

  .ant-input-suffix {
    margin-right: 10px;
  }

  .ant-input:hover,
  .ant-input:focus {
    border: #ffd803 solid 1px;
  }

  .ant-table-row:hover {
    cursor: pointer;
  }

  .ant-input::placeholder {
    color: #afadb1;
  }

  .input {
    padding: 10px;
  }

  .no-border {
    .ant-input:hover,
    .ant-input:focus {
      border: none;
    }
  }

  //Tooltip
  .ant-tooltip-inner {
    color: white !important;
    background-color: #6a6a6a !important;
  }
  .tooltip {
    &__list {
      &:first-child {
        margin-top: 0;
      }
    }
    &__item {
      margin-top: 5px;
    }
    &__text {
      text-transform: capitalize;
      color: #fff;
      margin-left: 5px;
    }
  }

  //date
  .ant-picker:hover,
  .ant-picker-focused {
    border-color: #ffd803;
  }

  //Pagination
  .ant-pagination-item:hover,
  .ant-pagination-item > a:hover,
  .ant-pagination-item-active > a,
  .ant-pagination-item-active,
  .ant-pagination-item-link:hover {
    border-color: #ffd803;
    background-color: #ffd803;
    color: black;

    // .ant-pagination-item-link-icon {
    //   color: #ffd803;
    // }
  }

  //select
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-color: #ffd803;
  }

  .ant-select:hover,
  .ant-select-focused {
    border-color: #ffd803;
  }

  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    border-color: #ffd803;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }

  thead[class*='ant-table-thead'] th {
    background-color: #bae8e8 !important;
  }

  .ant-form-item-label
    > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    font-family: inherit;
    font-size: 1.125rem;
    font-weight: 700;
  }

  .sidebar-icons {
    font-size: 25px !important;
  }

  .ant-select-arrow {
    display: flex;
    justify-items: center;
    align-self: center;
    align-items: center;
  }

  .ant-select-multiple .ant-select-selector {
    min-height: 38px !important;
    padding-top: 0;
    padding-bottom: 0;
  }

  .ant-btn-icon-only.ant-btn-lg {
    padding: 0 !important;
    font-size: 16px;
  }

  // .ant-pagination-disabled,
  // .ant-pagination-item-link,
  // .ant-pagination-item:hover,
  // .ant-pagination-disabled:hover .ant-pagination-item-link,
  // .ant-pagination-disabled .ant-pagination-item-link {
  //   color: black;

  // }
  // .ant-pagination-item:hover a {
  //   border-color: #ffd803;
  //   background-color: #ffd803;
  //   color: black;
  // }

  .ant-pagination-item a {
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: table-cell;
  }

  .ant-pagination-item {
    display: table;
  }

  .ant-pagination-item:focus-visible a,
  .ant-pagination-item:hover a {
    color: black !important;
  }

  .ant-pagination-next:hover button,
  .ant-pagination-prev:hover button {
    border-color: #ffd803;
    background-color: #ffd803;
  }

  .ant-pagination-disabled .ant-pagination-item-link,
  .ant-pagination-disabled:hover .ant-pagination-item-link,
  .ant-pagination-disabled:focus-visible .ant-pagination-item-link {
    color: rgb(217, 217, 217) !important;
    background-color: white !important;
    border: 1px solid rgb(217, 217, 217) !important;
  }

  // .ant-pagination-prev:focus-visible .ant-pagination-item-link,
  // .ant-pagination-next:focus-visible .ant-pagination-item-link,
  .ant-pagination-prev:hover .ant-pagination-item-link,
  .ant-pagination-next:hover .ant-pagination-item-link {
    color: black;
    border: none;
  }

  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    transition: none;
  }

  .ant-pagination-prev,
  .ant-pagination-item,
  .ant-pagination-next {
    min-width: 40px;
    height: 40px;
  }

  .ant-pagination-item a {
    font-size: 14px;
  }

  body .ant-pagination-prev:focus-visible .ant-pagination-item-link,
  body .ant-pagination-next:focus-visible .ant-pagination-item-link,
  body .ant-pagination-prev:hover .ant-pagination-item-link,
  body .ant-pagination-next:hover .ant-pagination-item-link {
    border: 1px solid #d9d9d9;
  }

  .ant-modal-confirm-body .ant-modal-confirm-title {
    font-weight: lighter;
  }
  /* 
  reset autofill input
   */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
    box-shadow: 0 0 0 30px rgb(255, 255, 255) inset !important;
  }

  .ant-input:focus,
  .ant-input-focused,
  .ant-input-affix-wrapper:focus,
  .ant-input-affix-wrapper-focused {
    box-shadow: 0 0 0 3px #fffffe;
    border-color: #ffd803;
  }

  .ant-modal-title {
    font-weight: bold;
    color: #272343;
  }

  .ant-table-thead > tr > th {
    font-size: 14px !important;
    font-weight: bold;
  }

  .ant-btn {
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
  }

  .ant-notification-notice {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
  }
}

#nprogress .bar {
  height: 0.3rem !important;
  background-color: #ffd803;
}
/* spinner  */
#nprogress .spinner {
  display: none;
  position: fixed;
  z-index: 1031;
  color: #ffd803;
  top: 50%;
  right: 50%;
}

// Editor
.ql-picker.ql-fileSelector {
  width: 150px;
}

.ql-editor{
  min-height:200px;
  max-height:200px;
}

.ql-picker.ql-dropdown {
  width: 150px;
}

.ql-fileSelector .ql-picker-item:before {
  content: attr(data-label);
}
.ql-editor ul[data-checked=true] > li::before {
  content: '✅' !important;
}

.back-button {
  position: absolute;
  left: 0.5em;
  top: 95px;
  font-size: 25px;
  margin-bottom: 15px;
}
